<%

function getIngredientsArray(pizza) {
    //Отримує вміст піци
    var content = pizza.content;
    var result = [];

    //Object.keys повертає масив ключів в об’єкті JavaScript

    Object.keys(content).forEach(function(key){

        //a.concat(b) створює спільний масив із масивів a та b
        result = result.concat(content[key]);
    });
console.log("result:"+result);
    return result; 
}

   %>
<div class="col-md-6 col-lg-4 ">
     <div class="thumbnail pizza-card">
        <img class="pizza-image" src="<%= pizza.icon %>" alt="Pizza">

        <% if(pizza.is_new) { %>
       <div class="btn label-success gradient popular-label">Нова
                            </div>
        <% } else if(pizza.is_popular) { %>
        <div class="btn label-danger gradient popular-label">Популярна
                            </div>
        <% } %>

        <div class="caption">
            <div class="name-of-pizza"><br><%= pizza.title %></div>
            <div class="type-of-pizza"><br><%= pizza.type %></div>
            <div class="info"><p>
                <%= getIngredientsArray(pizza).join(", ") %>
                </p>
            </div>
        </div>
         <div class="row">

                                    <div class="col-sm-6 sm-pizza">
                                        <div>
                                            <img src="assets/images/size-icon.svg"/>
                                            <span class="size"><%= pizza.small_size.size %></span>
                                        </div>
                                        <div>
                                            <% if(pizza.small_size) { %>
                                            <img src="assets/images/weight.svg" />
                                            <span class="weight"><%= pizza.small_size.weight %></span>
                                        </div>
                                        <div>
                                            <div class="price"><%=  pizza.small_size.price %></div>
                                            <span>грн.</span>
                                        </div>
                                        <a href="#" class="btn btn-warning buy-sm-button gradient">Купити</a>
                                        <% } %>
                                    </div>

                                    <div class="col-sm-6 lg-pizza">
                                        <%  if (pizza.big_size) { %>
                                        <div>
                                            <img  class ="pizza-image" src="assets/images/size-icon.svg" />
                                            <span class="size"><%=  pizza.big_size.size %></span>
                                        </div>
                                        <div>
                                            <img  class = "pizza-image" src="assets/images/weight.svg" />
                                            <span class="weight"><%= pizza.big_size.weight %></span>
                                        </div>
                                        <div>
                                            <div class="price"><%= pizza.big_size.price %></div>
                                            <span>грн.</span>
                                        </div>
                                        <a href="#" class="btn btn-warning buy-lg-button gradient">Купити</a>
                                        <% } %>
                                    </div>
                                </div>

        
    </div>
</div>